/*//////////////////////////////////////////
// Dan Nielsen
//////////////////////////////////////////*/
@font-face { font-family:latin; src:url(/art/fnt/latin.ttf); }
@font-face { font-family:cyrillic; src:url(/art/fnt/cyrillic.ttf); }
ol, ul, body {
  margin:0;
  padding:0;
}
body {
  color:ivory;  
  background-color:black;
  text-align:center;
  cursor:crosshair;
}
ul {
  list-style-type:none;
  text-align:left;
}
a {
  text-decoration:none;
  outline:none;
}
span {
  color:gray;
}
#message-form {
  position:absolute;
  left:0px;
  top:0px;
  display:none; /* Initially hidden */
}
#messages {
  position:absolute;
  left:0px;
  top:30px;  
  font-size:3em;
  background:transparent;
  text-shadow:0 0 3px black;
  white-space:pre-wrap;
  text-align:left;
}
#output-div {
  position:absolute;
  left:calc(31% - 20px);
  top:43%;
  width:38%;
  /*min-height:300px;*/
  /*line-height:300px;*/
  background:rgba(109,191,232,.5);
  background:-moz-linear-gradient(top,rgba(109,191,232,1) 0%,rgba(40,161,222,.5) 50%,rgba(40,161,222,.5) 50%,rgba(31,140,194,.49) 51%,rgba(31,140,194,.49) 51%,rgba(51,160,214,.15) 100%);
  background:-webkit-linear-gradient(top,rgba(109,191,232,1) 0%,rgba(40,161,222,.5) 50%,rgba(40,161,222,.5) 50%,rgba(31,140,194,.49) 51%,rgba(31,140,194,.49) 51%,rgba(51,160,214,.15) 100%);
  background:-o-linear-gradient(top,rgba(109,191,232,1) 0%,rgba(40,161,222,.5) 50%,rgba(40,161,222,.5) 50%,rgba(31,140,194,.49) 51%,rgba(31,140,194,.49) 51%,rgba(51,160,214,.15) 100%);
  background:-ms-linear-gradient(top,rgba(109,191,232,1) 0%,rgba(40,161,222,.5) 50%,rgba(40,161,222,.5) 50%,rgba(31,140,194,.49) 51%,rgba(31,140,194,.49) 51%,rgba(51,160,214,.15) 100%);
  background:linear-gradient(to bottom,rgba(109,191,232,1) 0%,rgba(40,161,222,.5) 50%,rgba(40,161,222,.5) 50%,rgba(31,140,194,.49) 51%,rgba(31,140,194,.49) 51%,rgba(51,160,214,.15) 100%);
  border-radius:20px;
  outline:none;
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.7);
  border:1px solid rgba(49,128,167,38%);
  padding:20px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px 0px 5px black;
  font-size:14pt;
  font-family:'latin';
}
#output {
  display:inline-block;
  line-height:30px;
  vertical-align:middle;
}
#canvas {
  margin:0px;
  padding:0px;
  border:none;
}
#spinner {
  background-image:url(/art/img/spinner.gif);
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
}
