////////////////////////////////////////////
// Dan Nielsen
////////////////////////////////////////////
doctype html
html(lang='en')
  head
    title malkachi app
    meta(charset='utf-8')
    meta(name='viewport' content='user-scalable=no')
    link(rel='manifest' href='manifest.json')
    link(rel='stylesheet' type='text/css' href='css/main.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://dwn.github.io/common/js/jquery-3.3.1.min.js')
    script(src='/js/mespeak.js')
    script(src='/js/xmeffects.js')
    script(src='/js/xm.js')
  body
    div#page(style='font-family:latin')
      canvas#canvas(oncontextmenu='event.preventDefault()' width=640 height=480)
      div#spinner
      ul#messages
      div#ui-div
        form#message-form(action='')
          input#message-input(autocomplete='off' contentEditable='true')
          button#message-button &rarrhk;
        div#output-div
          div#status
          div#output
script(src='version.js')
script(src='js/framework-input-handler.js')
script(src='js/framework.js')
script(src='https://dwn.github.io/common/js/chat.js')
script(async src='bin/'+appFileBasename+'.js')
